.advantages {
  width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  background: @white;
  color: @black;

  &--gallery,
  &--video {
    line-height: 24px;
  }
}

.advantages__header {
  width: auto;
  padding: 28px 0 25px 0;
  text-align: center;

  &--gallery {
    padding-top: 25px;
    border-bottom: 1px solid #e5e5e5;
  }

  &--video {
    padding: 18px 0 34px 0;
  }

  &--feedback {
    padding: 26px 0 17px 0;
  }
}

.advantages__title {
  .font-title();
  margin-bottom: 28px;
  padding: 0 30px;

  &--feedback {
    margin-bottom: 26px;
  }
}

.advantages__text {
  margin: 0;
  padding: 0 25px;
  font: inherit;

  &--font {
    padding: 0 20px;
    line-height: 24px;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    box-sizing: border-box;
    width: 768px;

    &--gallery {
      padding: 0 60px;
    }
  }

  .advantages__header {
    width: 550px;
    margin: 0 auto;
    padding: 36px 0 52px 0;

    &--gallery {
      padding: 52px 0 68px 0;
      border-bottom: none;
    }

    &--feedback {
      padding: 52px 0 73px 0;
      border-bottom: none;
    }

    &--video {
      padding: 42px 0 72px 0;
    }
  }

  .advantages__title {
    .font-title-max();

    &--gallery,
    &--video,
    &--feedback {
      font-size: 30px;
      margin-bottom: 32px;
    }
  }

  .advantages__text {
    &--tablet {
      padding: 0 55px;
    }
  }

  .advantages__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .advantages__wrapper--green {
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1200px;

    &--gallery {
      padding: 0;
    }
  }

  .advantages__header {
    &--gallery {
      padding: 90px 0 70px 0;
    }

    &--video {
      padding: 44px 0 70px 0;
    }

    &--feedback {
      padding: 90px 0 58px 0;
    }
  }
}
