.banner {
  position: relative;
  width: 320px;
  background-color: @blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /*
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 27px;
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat bottom center;
    background-size: cover;
  }
  */
  &--page2 {
    background-position: bottom center;
    background-size: auto;
  }
}

.banner__text {
  display: block;
  width: 282px;
  height: 214px;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 85px;

  &--page2 {
    width: 229px;
    height: 39px;
    padding-top: 52px;
    padding-bottom: 67px;
  }
}

@media (min-width: @tablet-width) {
  .banner {
    width: 100%;

    &--page2 {
      background-size: cover;
    }
  }

  .banner__text {
    width: 460px;
    height: auto;
    padding-top: 77px;
    padding-bottom: 90px;

    &--page2 {
      width: 458px;
      height: auto;
      padding-top: 95px;
      padding-bottom: 117px;
    }
  }
}

@media (min-width: @desktop-width) {
  .banner {
    max-width: 1200px;
  }

  .banner__text {
    &--page2 {
      width: 460px;
      height: auto;
      padding-top: 102px;
      padding-bottom: 120px;
    }
  }
}
