.copyright {
outline: 1px solid green;
}

.copyright__text {
font-family: "PT Sans", "Arial", sans-serif;
font-size: 14px;
line-height: 26px;
font-weight: 400;
color: @black;
text-transform: uppercase;
}
