.footer {
  width: 320px;
  margin: 0 auto;
  padding: 36px 0 23px 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  background: @white;
  color: @black;
  text-align: center;
  text-transform: uppercase;
}

.footer__hashtag {
  font-size: 21px;
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 648px;
    padding: 33px 60px;
  }

  .footer__hashtag {
    width: 33.33333333333333%;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 960px;
    padding: 33px 120px;
  }
}
