.form {
  margin-bottom: 38px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: @black;
}

.form__fieldset {
  position: relative;
  width: 320px;
  padding: 18px 20px 26px 20px;
  box-sizing: border-box;
  border-top: 1px solid #e5e5e5;

  &--contacts {
    padding-bottom: 28px;
  }

  &--impression {
    padding-bottom: 15px;
  }

  &--attraction {
    padding-bottom: 13px;
  }
}

.form__legend {
  .font-title();
  color: #000000;
  text-align: center;

  &--radio {
    margin-bottom: 22px;
  }

  &--checkbox {
    margin-bottom: 5px;
  }

  &--textarea {
    margin-bottom: 18px;
  }
}

.form__row {
  position: relative;
  display: block;
  min-height: 58px;
  padding-top: 20px;

  &--email {
    padding-top: 14px;
  }

  &--radio {
    min-height: 56px;
    padding-top: 13px;
  }

  &--checkbox {
    min-height: 56px;
    padding-top: 24px;
  }
}

.form__input-wrapper {
  position: relative;
}

input[type=text],
input[type=tel],
input[type=email] {
  box-sizing: border-box;
  height: 58px;
  padding-left: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  .font-title();
  background: #f2f2f2;
  color: #000000;
  border: 4px solid #f2f2f2;

  &:hover {
    background: #e5e5e5;
    border: 4px solid #e5e5e5;
  }

  &:focus {
    background: transparent;
    border: 4px solid #e5e5e5;
  }
}

.form__input-text {
  width: 192px;
  margin-left: 15px;

  &--name {
    width: 230px;
    margin-left: 10px;
  }

  &--surname {
    margin-left: 11px;
  }

  &--tel,
  &--email {
    width: 100%;
    margin-left: 0;
    margin-top: 6px;
  }
}

.form__label {
  padding-left: 22px;
}

.form__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #eaeaea;

  &--tel::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 18px;
    background: url("../../img/icon-phone.svg") no-repeat;
  }

    &--email::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 16px;
    height: 16px;
    background: url("../../img/icon-mail.svg") no-repeat;
  }
}

.form__list {
  .indents();
  list-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input.form__input-radio[type=radio],
input.form__input-checkbox[type=checkbox] {
  display: none;
}

.form__row--radio label,
.form__row--checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 78px;
  .font-title();
  color: #000000;
  text-transform: none;
  vertical-align: middle;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 56px;
    height: 56px;
    margin-right: 10px;
    background-color: #f2f2f2;

    &:hover,
    &:focus {
      background-color: #e5e5e5;
    }

    &:active {
      background-color: #d5d5d5;
    }
  }
}

.form__row--radio label::before {
  border-radius: 50%;
}

.form__row--checkbox label::before {
  border-radius: 5px;
}

input.form__input-radio[type=radio]:checked+label:before {
  background-color: #000000;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 17px solid #f2f2f2;

  &:hover,
  &:focus {
    border: 17px solid #e5e5e5;
  }

  &:active {
    background-color: rgba(51, 51, 51, 0.3);
    border: 17px solid #e5e5e5;
  }
}

input.form__input-checkbox[type=checkbox]:checked+label:before {
  content: url(../../img/icon-tick.svg);
  text-align: center;
  font-size: 70px;
  height: 56px;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 20px 14px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  .font-title();
  color: #000000;
  background: #f2f2f2;
  border: none;
}

.form__wrapper {
  padding: 0 20px;
}

.form__button {
  display: block;
  width: 100%;
  margin-top: 16px;
}

.form__hint {
  display: none;
}

@media (min-width: @tablet-width) {
  .form {
    width: 768px;
    padding: 0 60px;
    margin-bottom: 61px;
    box-sizing: border-box;
  }

  .form__elements {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .form__fieldset {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border: none;

    &:nth-child(1),
    &:nth-child(3) {
      width: 50%;
      flex-direction: column;
      margin-bottom: 56px;
    }

    &:nth-child(3) {
      order: -1;
    }

    &:nth-child(1) {
      align-items: flex-end;
    }

    &--impression {
      border-right: 1px solid #dbdbdb;
    }

    &--contacts {
      flex-direction: column;
      margin-bottom: 54px;
    }

    &--attraction {
      flex-direction: column;
      margin-bottom: 55px;
    }
  }

  .form__list--attraction {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .form__row {

    &--email {
      padding-top: 24px;
    }

    &--radio {
      padding-top: 23px;
    }

    &--checkbox {
      box-sizing: border-box;
      width: 50%;
      padding-top: 32px;
      margin-bottom: 28px;

      &:nth-child(1),
      &:nth-child(3) {
        padding-left: 95px;
      }

      &:nth-child(2),
      &:nth-child(4) {
        padding-left: 30px;
      }
    }
  }

  .form__legend {
    .font-title-max();
    position: relative;
    width: 100%;
    text-align: left;

    &--radio {
      margin-bottom: 47px;
    }

    &--name {
      margin-bottom: 38px;
      padding-left: 60px;
    }

    &--contacts {
      text-align: center;
      margin-bottom: 5px;
    }

    &--checkbox {
      text-align: center;
      margin-bottom: 22px;
    }

    &--textarea {
      text-align: center;
      margin-bottom: 57px;
    }
  }

  .form__legend--textarea::before,
  .form__legend--textarea::after,
  .form__legend--checkbox::before,
  .form__legend--checkbox::after,
  .form__legend--contacts::before,
  .form__legend--contacts::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 19%;
    height: 1px;
    background-color: #dbdbdb;
  }

  .form__legend--textarea::before,
  .form__legend--checkbox::before,
  .form__legend--contacts::before {
    left: 0;
  }

  .form__legend--textarea::after,
  .form__legend--checkbox::after,
  .form__legend--contacts::after {
    right: 0;
  }

  .form__title {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  .form__input-text {

    &--name {
      width: 214px;
      margin-left: 14px;
    }

    &--surname,
    &--patronymic {
      width: 178px;
    }

    &--tel,
    &--email {
      width: 100%;
    }
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
    margin-top: 58px;
  }

  .form__button {
    width: 50%;
    margin: 0;
  }

  .form__hint {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 1200px;
    padding: 0 120px;
    margin-bottom: 67px;
  }

  .form__fieldset {

    &--contacts {
      flex-direction: row;
      margin-bottom: 53px;
    }
  }

  .form__legend {

    &--name,
    &--radio {
      padding-left: 80px;
    }

    &--contacts {
      margin-bottom: 48px;
    }
  }

  .form__legend--textarea::before,
  .form__legend--textarea::after,
  .form__legend--checkbox::before,
  .form__legend--checkbox::after,
  .form__legend--contacts::before,
  .form__legend--contacts::after {
    width: 29%;
  }

  .form__row--contacts,
  .form__row--email {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    width: 50%;
    padding-top: 20px;
    box-sizing: border-box;
  }

  .form__row--contacts {
    padding-right: 80px;
  }

  .form__row--radio {
    padding-left: 3px;
  }

  .form__row--checkbox {
    width: 25%;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      padding-left: 0;
    }

    &:nth-child(1),
    &:nth-child(2) {
      width: 27%;
    }

    &:nth-child(4) {
      width: 25%;
    }

    &:nth-child(4) {
      width: 21%;
    }
  }

  .form__input-wrapper {
    margin-left: auto;
  }

  .form__input-text {

    &--name {
      width: 350px;
      margin-left: 12px;
    }

    &--surname,
    &--patronymic {
      width: 312px;
    }

    &--tel,
    &--email {
      width: 316px;
    }
  }

  .form__label {
    padding: 0;
  }

  .form__label-first {
    display: none;
  }

  .form__title {
    width: 30%;
  }
}
