.photo {
	outline: 1px solid green;
	padding: 23px 20px;
	border-bottom: 1px solid #e5e5e5;
	background: @white;
	color: @black;
}

.photo__container {
	margin: 0;
}

.photo__link {
	text-decoration: none;
}

.photo__description {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: @black;
	text-transform: uppercase;
}

.photo__text {
	padding: 16px 0;
}

.photo__name {
	display: block;
	font-weight: 700;
}

.photo__author {
	display: block;
	text-transform: none;
}

.photo__rating {
	padding: 5px 0;
}

.photo__number {
	display: block;
	font-weight: 700;
}
