.popup {
	outline: 1px solid green;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: @black;
	background: @white;
	box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.popup__description {
	padding: 45px 20px 36px 20px;
	text-align: center;
}

.popup__title {
	margin-bottom: 35px;
	.font-title();
}

.popup__text {
	font: inherit;
}

.popup__close {
	padding: 20px;
	background: @white;
	&--gray {
		background: #f2f2f2;
	}
}

.popup__button {
	display: block;
	width: 100%;
	color: @white;
	text-decoration: none;
}