.popup {
  outline: 1px solid green;
  width: 320px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;
  background: @white;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.popup__description {
  padding: 45px 20px 36px 20px;
  text-align: center;
}

.popup__title {
  margin-bottom: 35px;
  .font-title();
}

.popup__text {
  font: inherit;
}

.popup__close {
  padding: 20px;
  background: @white;

  &--gray {
    background: #f2f2f2;
  }
}

.popup__button {
  display: block;
  width: 100%;
  color: @white;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .popup-success {
    width: 640px;
  }

  .popup-success .popup__description {
    padding: 65px 110px 36px 110px;
  }

  .popup-success .popup__title {
    margin-bottom: 33px;
    font-size: 30px;
  }

  .popup-success .popup__close,
  .popup-error .popup__close {
    padding: 45px 95px;
  }

  .popup-error {
    width: 400px;
  }

  .popup-error .popup__description {
    padding: 52px 60px 14px 60px;
  }

  .popup-error .popup__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0 20px;
    margin-bottom: 29px;
  }

  .popup-error .popup__close {
    padding: 20px 65px 50px 65px;
  }
}
