.social {
  width: 100%;
  margin-top: 36px;
  margin-bottom: 30px;
  font-size: 0;
  text-align: center;
}

.social__link {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 48px;
  background: @blue;
  margin: 0 3px;
  vertical-align: top;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__icon-twitter,
.social__icon-facebook,
.social__icon-youtube {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  fill: @white;

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .social {
    width: 33.33333333333333%;
    margin: 0;
  }
}
