.video {
  width: 320px;
  height: 201px;
  margin: 0 auto;
  margin-bottom: 105px;
}

.video__screen {
  height: 201px;
  background-color: @gray;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.video__controls {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 66px;
  margin: 0 20px;
  background-color: #f2f2f2;
}

.video__range-controls {
  position: relative;
  margin-top: -45px;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.video__scale {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.video__bar {
  position: absolute;
  top: -3px;
  left: 36px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: @white;
}

.video__button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 66px;
  padding: 0 17px 0 19px;
  box-sizing: border-box;
  align-items: center;
}

.video__repeat,
.video__subtitles,
.video__full-screen {
  min-height: 20px;
  line-height: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

.video__repeat {
  margin-right: auto;
}

.video__subtitles {
  margin-right: 20px;
}

.video__repeat svg,
.video__subtitles svg,
.video__full-screen svg {
  fill: #5c6870;
}

.video__repeat:hover svg,
.video__repeat:focus svg,
.video__subtitles:hover svg,
.video__subtitles:focus svg,
.video__full-screen:hover svg,
.video__full-screen:focus svg {
  fill: #333333;
}

.video__repeat:active svg,
.video__subtitles:active svg,
.video__full-screen:active svg {
  fill: rgba(51, 51, 51, 0.3);
}

@media (min-width: @tablet-width) {
  .video {
    width: 648px;
    height: 499px;
    margin-bottom: 40px;
  }

  .video__screen {
    width: 648px;
    height: 499px;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 648px auto;
    }
  }

  .video__controls {
    position: relative;
    width: 100%;
    height: 92px;
    margin: 0;
    margin-top: -92px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .video__range-controls {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .video__scale {
    top: 45px;
    left: 94px;
    transform: translateX(0%);
    width: 388px;
  }

  .video__bar {
    left: 112px;
  }

  .video__button {
    height: 100%;
    padding: 0 35px 0 29px;
    z-index: 10;
  }

  .video__repeat svg,
  .video__subtitles svg,
  .video__full-screen svg {
    fill: @white;
  }

  .video__repeat:hover svg,
  .video__repeat:focus svg,
  .video__subtitles:hover svg,
  .video__subtitles:focus svg,
  .video__full-screen:hover svg,
  .video__full-screen:focus svg {
    fill: rgba(255, 255, 255, 0.6);
  }

  .video__repeat:active svg,
  .video__subtitles:active svg,
  .video__full-screen:active svg {
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: 800px;
    height: 500px;
    margin-bottom: 87px;
  }

  .video__screen {
    width: 800px;
    height: 500px;
    background-image: url("../img/video-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 800px auto;
    }
  }

  .video__scale {
    width: 539px;
  }
}
